<div class="w-75 p-3">
<h1>This will be the show page for each cocktail</h1>



<h1><%= @cocktail.name %></h1>
<%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>
<h3><% @cocktail.doses.each do |dose| %></h3>
  <h3><%= dose.description %></h3>
  <h3><%= dose.ingredient.name %></h3>
  <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash destroy_dose"></i>
    <% end %>
  <%= link_to 'Edit dose', edit_dose_path(dose) %>
<% end %>

<div class="row">
<h2>Cocktail's Reviews</h2>

<% @cocktail.reviews.each do |cocktail| %>
<h1><% cocktail.rating.times do %></h1>
  <i class="fas fa-star" style="color: #edb867"></i>
  <% end %>
   <% (5 - cocktail.rating).times do %>
      <i class="far fa-star" style="color: #edb867"></i>
  <% end %>
<% end %>
</div>



<h2>Cocktail average</h2>
<%= @cocktail.reviews.average('rating') %>

<%= link_to 'Edit the cocktail', edit_cocktail_path(@cocktail) %>

<%= link_to 'Back to all cocktails', root_path %>

<%= render "doses/new", cocktail: @cocktail, dose: @dose %>
<%= render "reviews/new", cocktail: @cocktail, review: @review %>
<i class="far fa-edit"></i>
<i class="far fa-minus-square"></i>
</div>
